<% if @comp_move == "rock"
    @outcome = "tied"
 elseif  comp_move == "paper"
    @outcome = "lost"
  else
    @outcome = "won"
end %>

  <h2>  
    We played Rock!
  </h2>

   <h2>  
    They played <%= @comp_move %>!

<% if @outcome == "won" %>
   <h2 style="color: green"> 
    We <%= @outcome %>!
  </h2>
<% elseif @outcome == "lost" %>
   <h2 style="color: red"> 
    We <%= @outcome %>!
  </h2>
<% else %>
  <h2 style="color: black"> 
    We <%= @outcome 
    </h2>
<% end %>
